<div class="hero min-h-screen bg-base-200 flex justify-center items-center h-screen">
  <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
    <div class="card-body">
      <h2 class="text-xl font-semibold mb-6">Make your profile</h2>
      <form action="/insert_user_profile" method="post">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input type="text" id="name_box" name="query_name" placeholder="Username" class="input input-bordered">
        </div>
        <div class="form-control">
          <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>">
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Bio</span>
          </label>
          <textarea id="bio_box" name="query_bio" rows="3" placeholder="Bio" class="textarea textarea-bordered"></textarea>
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Image</span>
          </label>
          <input type="text" id="image_box" name="query_image" placeholder="Image" class="input input-bordered">
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Skills (Max 5)</span>
          </label>
          <ul class="list list-disc list-inside">
            <li>
              <label class="inline-flex items-center">
                <input type="checkbox" name="skills[]" value="JavaScript" class="form-checkbox">
                <span class="ml-2">JavaScript</span>
              </label>
            </li>
            <li>
              <label class="inline-flex items-center">
                <input type="checkbox" name="skills[]" value="Python" class="form-checkbox">
                <span class="ml-2">Python</span>
              </label>
            </li>
            <li>
              <label class="inline-flex items-center">
                <input type="checkbox" name="skills[]" value="Java" class="form-checkbox">
                <span class="ml-2">Java</span>
              </label>
            </li>
            <li>
              <label class="inline-flex items-center">
                <input type="checkbox" name="skills[]" value="C++" class="form-checkbox">
                <span class="ml-2">C++</span>
              </label>
            </li>
            <li>
              <label class="inline-flex items-center">
                <input type="checkbox" name="skills[]" value="React" class="form-checkbox">
                <span class="ml-2">React</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="form-control mt-6">
          <button class="btn btn-primary">Create user profile</button>
        </div>
      </form>
    </div>
  </div>
</div>
