<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">We are a startup-focused bug fixing service provider that helps companies quickly and efficiently identify and resolve software bugs. We also offer developers lucrative opportunities to earn money by fixing these bugs.</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <form action="/user_verify_credentials" method="post">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="text" name="query_email" placeholder="Enter your email..." class="input input-bordered" />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" name="query_password" placeholder="Enter your password..." class="input input-bordered" />
            <label class="label">
              <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
            </label>
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn btn-primary bg-blue-700">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
