<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Sign up now!</h1>
      <p class="py-6">Our company is a startup bug fixing service provider that assists startup companies in identifying and resolving their software bugs quickly and efficiently while also providing developers with lucrative opportunities to earn money by fixing those bugs.</p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <form action="/insert_user" method="post">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input id="email_box" name="query_email" placeholder="Choose an email..." type="text" class="input input-bordered" required>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input id="password_box" name="query_password" placeholder="Choose a password..." type="password" class="input input-bordered" required>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Confirm Password</span>
            </label>
            <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password" class="input input-bordered" required>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Account Type</span>
            </label>
            <select id="role_select" name="query_role" class="select select-bordered w-full max-w-xs" required>
              <option disabled selected value="">Select an account type...</option>
              <option value="company">Company</option>
              <option value="personal">Personal</option>
            </select>
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn btn-primary bg-blue-700">Sign Up</button>
          </div>
        </form>
        <div class="form-control mt-4">
          <a href="/user_sign_in" class="label label-text-alt link link-hover">Or, Sign in instead!</a>
        </div>
      </div>
    </div>
  </div>
</div>
