<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
  <a href="/messages">messages</a>
  <a href="/skills">skills</a>
  <a href="/bug_reports">bug report</a>
  <a href="/bounties">Bounty</a>
  <a href="/company_representatives">Company Rep</a>
  <a href="/companies">Company</a>
  <a href="/projects">Projects</a>
  <a href="/user_profiles">Profiles</a>
  <a href="/user_sign_up">Sign Up</a>
  <a href="/user_sign_in">Sign In</a>
  <a href="/">home</a>

    <%= yield %>
  </body>
</html>
